# Editor

.DS_Store
.vscode/
.idea/
*.iml

# Node Modules

**/node_modules

# Tests / Coverage

.coverage
.vitest
junit.xml
sonarqube
vitest.config.js.timestamp*

# Build / Env

.yarn
*.local
**/dist
**/storybook-static
**/vue-storybook-static
**/react-storybook-static

# Logs

*.log

*storybook.log
