.c-log-box {
  background: #fff;
  border-radius: 6px;
  padding: 12px;
  position: relative;
  filter: drop-shadow(0 5px 5px rgb(10 0 50 / 12.5%));

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -1px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
  }
}

.empty-state {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
}

.start-message-primary {
  font-size: 16px;
  font-weight: 800;
  margin: 0;
}

.start-message-secondary {
  font-size: 9px;
  margin-top: 6px;
}

.cross-symbol {
  font-size: 0;
  width: 20px;
  height: 20px;
  background: #222;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #69aefb;
  vertical-align: middle;
  transform: translateY(-5%);

  svg {
    width: 60%;
  }
}

.logs-heading {
  font-size: 16px;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.hidden-count {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

.log-items {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  overflow: hidden;
}

.log-item-wrapper {
  overflow: hidden;
}
